.footer {
    /* height: 20%; */
    background-image: linear-gradient(white, rgb(6, 119, 212));
    width: 100vw;
    border: solid 2px rgb(255, 0, 242);
    padding-top: 2%;
    padding-bottom: 2%;
        display: flex;
        justify-content: center;

}

.footerNav {
    /* border: solid 1px black; */
    width: 25%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 2%;
}

.footerNav a {
    color: gray;
    text-decoration: none;
}

/* .rightSide a:visited {
  color: green;
} */

.footerNav a:hover {
    color: hotpink;
}

.footerNav a:active {
    color: blue;
}

.footerMain{
    /* border: solid 2px rgb(0, 174, 255); */
    width: 75%;
    display: flex;
    justify-content: space-around;
}