/* Navbar Component CSS */
.navbar {
    /* height: 20%; */
    /* background-image: linear-gradient(rgb(6, 119, 212), white); */
    background-image: url(../assets/sacNepalBanner.png);
    background-size:cover;
}
.mainTitle {
    color: blue;
}

.menuContent {
    display: flex;
    align-items: center;
    /* border-style: solid; */
    width: 100%;
    height: auto;
}

.leftSide {
    width: 20%;
    font: bold;
}

.rightSide {
    width: 80%;
    display: flex;
    /* border-style: solid; */
    justify-content: flex-end;
    justify-content: space-evenly;
    background-color:rgb(28, 186, 235, 0.25);
    border-top-left-radius: 100px 200px;
        border-bottom-left-radius: 100px 200px;
        box-shadow: 20px 20px 50px 15px rgb(128, 128, 128);
}

.rightSide a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    
}

/* .rightSide a:visited {
  color: green;
} */

.rightSide a:hover {
    color: hotpink;
}

.rightSide a:active {
    color: blue;
}

